<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  -->
   <!-- <link href= /freelancer.scss> -->

    <!-- Custom fonts for this template -->
   <!--  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Plugin CSS -->
    <!-- <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"> -->

    <!-- Custom styles for this template -->
   <!--  <link href="css/freelancer.min.css" rel="stylesheet"> -->





 <!-- Plugin CSS -->
  <!--  <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet" type="text/css" > -->

   <!-- Custom styles for this template -->
    <!-- <link href= "https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css" rel="stylesheet" > -->
  <link href="/stylesheets/freelancer.css.scss" rel="stylesheet">
  </head>

  <body>
  <p style="color:green;" id="notice" ><%= notice %></p>
 <%# if notice %>
 <!--  <p class="alert alert-success"><%#= notice %></p> -->
<%# end %>
<%# if alert %>
 <!--  <p class="alert alert-danger"><%#= alert %></p> -->
<%# end %>
  
  
<%= render 'shared/header' %>
    <%= yield %>

  </body>
</html>
